<div class="row text-light">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <h3 class="text-light py-2"><b>Engagement</b></h3>
        <div id="content">
            <img src="/loading.gif" height="40px">
            <p>Initializing</p>   
        </div>
    </div>

    <div class="col-sm-4">
        <h3 class="py-2"><b>Mood</b></h3>
        <div id="content2">
            <img src="/loading.gif" height="40px">
            <p>Initializing</p>         
        </div>
    </div>


    <div class="col-sm-2"></div>
</div>    