<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <% include ./partials/header.ejs %>
</head>
<body>
    <div class="container py-4">
        <h2 class="display-4 text-light pb-4">Mood Analysis</h2>
        <img src="/analytics/fig2.png" alt="">
    </div>
    <div class="container py-4">
        <h2 class="display-4 text-light py-4">Engagement Analysis</h2>
        <img src="/analytics/fig1.png" class="pb-4" alt="">
    </div>
    <div class="container py-4">
        <a href="/" class="text-light"><button type="button" class="btn btn-lg btn-success">Home Page</button></a>
    </div>  

</body>
</html>